<launch>
  <arg name="uuv_name" />
  <arg name="model_name" default="$(arg uuv_name)"/>
  <arg name="output_topic" default="cmd_vel"/>
  <!-- The type of message can also be geometry_msgs/Accel -->
  <arg name="message_type" default="twist"/>

  <include file="$(find uuv_thruster_manager)/launch/thruster_manager.launch">
    <arg name="uuv_name" value="$(arg uuv_name)" />
    <arg name="model_name" value="$(arg model_name)" />
  </include>

  <group ns="$(arg uuv_name)">
    <rosparam file="$(find uuv_control_cascaded_pid)/config/$(arg model_name)/inertial.yaml" command="load"/>
    <rosparam file="$(find uuv_control_cascaded_pid)/config/$(arg model_name)/vel_pid_control.yaml" command="load"/>

    <node pkg="uuv_control_cascaded_pid" type="AccelerationControl.py" name="acceleration_control"
          output="screen">
      <param name="tf_prefix" type="string" value="$(arg uuv_name)/" />
    </node>

    <node pkg="uuv_control_cascaded_pid" type="VelocityControl.py" name="velocity_control"
        output="screen">
      <remap from="odom" to="/$(arg uuv_name)/pose_gt"/>
      <remap from="cmd_accel" to="/$(arg uuv_name)/cmd_accel"/>
    </node>

    <node pkg="uuv_teleop" type="vehicle_keyboard_teleop.py" name="keyboard_uuv_velocity_teleop" 	output="screen">
      <remap from="output" to="/$(arg uuv_name)/$(arg output_topic)"/>
      <rosparam subst_value="true">
        type: $(arg message_type)
      </rosparam>
    </node>
  </group>
</launch>
